In [1]:
import pandas as pd

In [2]:
notas = pd.read_csv('rating.csv')

In [3]:
notas.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [4]:
notas

          userId  movieId  rating            timestamp
0              1        2     3.5  2005-04-02 23:53:47
1              1       29     3.5  2005-04-02 23:31:16
2              1       32     3.5  2005-04-02 23:33:39
3              1       47     3.5  2005-04-02 23:32:07
4              1       50     3.5  2005-04-02 23:29:40
...          ...      ...     ...                  ...
20000258  138493    68954     4.5  2009-11-13 15:42:00
20000259  138493    69526     4.5  2009-12-03 18:31:48
20000260  138493    69644     3.0  2009-12-07 18:10:57
20000261  138493    70286     5.0  2009-11-13 15:42:24
20000262  138493    71619     2.5  2009-10-17 20:25:36

[20000263 rows x 4 columns]

In [5]:
filmes = pd.read_csv('movie.csv')

In [6]:
filmes

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [7]:
filmesv2 = filmes[filmes['genres'] != '(no genres listed)']

In [8]:
filmesv2.reset_index(inplace = True,drop= True)

In [9]:
filmesv2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27032 entries, 0 to 27031
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27032 non-null  int64
 1   title    27032 non-null  object
 2   genres   27032 non-null  object
dtypes: int64(1), object(2)
memory usage: 633.7+ KB

In [10]:
generos = filmesv2['genres'].str.split('|',expand = True)
generos

,0,1,2,3,4,5,6,7,8,9
0,Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
1,Adventure,Children,Fantasy,None,None,None,None,None,None,None
2,Comedy,Romance,None,None,None,None,None,None,None,None
3,Comedy,Drama,Romance,None,None,None,None,None,None,None
4,Comedy,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
27027,Comedy,Horror,None,None,None,None,None,None,None,None
27028,Comedy,None,None,None,None,None,None,None,None,None
27029,Comedy,None,None,None,None,None,None,None,None,None
27030,Adventure,None,None,None,None,None,None,None,None,None
27031,Adventure,Fantasy,Horror,None,None,None,None,None,None,None

In [11]:
filmesv2.drop('genres', axis = 1, inplace = True)

C:\Users\igorm\AppData\Local\Temp\ipykernel_27068\150471517.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filmesv2.drop('genres', axis = 1, inplace = True)

In [12]:
filmesv2

       movieId                                              title
0            1                                   Toy Story (1995)
1            2                                     Jumanji (1995)
2            3                            Grumpier Old Men (1995)
3            4                           Waiting to Exhale (1995)
4            5                 Father of the Bride Part II (1995)
...        ...                                                ...
27027   131252  Forklift Driver Klaus: The First Day on the Jo...
27028   131254                       Kein Bund für's Leben (2007)
27029   131256                      Feuer, Eis & Dosenbier (2002)
27030   131258                                 The Pirates (2014)
27031   131262                                   Innocence (2014)

[27032 rows x 2 columns]

In [13]:

filmesv3 = pd.concat([filmesv2, generos], axis=1)

In [14]:
filmesv3

,movieId,title,0,1,2,3,4,5,6,7,8,9
0,1,Toy Story (1995),Adventure,Animation,Children,Comedy,Fantasy,None,None,None,None,None
1,2,Jumanji (1995),Adventure,Children,Fantasy,None,None,None,None,None,None,None
2,3,Grumpier Old Men (1995),Comedy,Romance,None,None,None,None,None,None,None,None
3,4,Waiting to Exhale (1995),Comedy,Drama,Romance,None,None,None,None,None,None,None
4,5,Father of the Bride Part II (1995),Comedy,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
27027,131252,Forklift Driver Klaus: The First Day on the Jo...,Comedy,Horror,None,None,None,None,None,None,None,None
27028,131254,Kein Bund für's Leben (2007),Comedy,None,None,None,None,None,None,None,None,None
27029,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,None,None,None,None,None,None,None,None,None
27030,131258,The Pirates (2014),Adventure,None,None,None,None,None,None,None,None,None
27031,131262,Innocence (2014),Adventure,Fantasy,Horror,None,None,None,None,None,None,None

In [15]:
filmesv3.isna().sum()

movieId        0
title          0
0              0
1          10583
2          19392
3          24722
4          26446
5          26923
6          27006
7          27026
8          27031
9          27031
dtype: int64

In [16]:
filmesv3.drop(columns = [2,3,4,5,6,7,8,9],axis = 1, inplace = True)

In [17]:
filmesv3

,movieId,title,0,1
0,1,Toy Story (1995),Adventure,Animation
1,2,Jumanji (1995),Adventure,Children
2,3,Grumpier Old Men (1995),Comedy,Romance
3,4,Waiting to Exhale (1995),Comedy,Drama
4,5,Father of the Bride Part II (1995),Comedy,None
...,...,...,...,...
27027,131252,Forklift Driver Klaus: The First Day on the Jo...,Comedy,Horror
27028,131254,Kein Bund für's Leben (2007),Comedy,None
27029,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,None
27030,131258,The Pirates (2014),Adventure,None
27031,131262,Innocence (2014),Adventure,Fantasy

In [18]:
genome_scores = pd.read_csv('genome_scores.csv')
genome_scores

          movieId  tagId  relevance
0               1      1    0.02500
1               1      2    0.02500
2               1      3    0.05775
3               1      4    0.09675
4               1      5    0.14675
...           ...    ...        ...
11709763   131170   1124    0.58775
11709764   131170   1125    0.01075
11709765   131170   1126    0.01575
11709766   131170   1127    0.11450
11709767   131170   1128    0.02175

[11709768 rows x 3 columns]

In [19]:
notas_filme = notas.groupby('movieId')[['rating']].mean()

In [20]:
notas_filme

           rating
movieId
1        3.921240
2        3.211977
3        3.151040
4        2.861393
5        3.064592
...           ...
131254   4.000000
131256   4.000000
131258   2.500000
131260   3.000000
131262   4.000000

[26744 rows x 1 columns]

In [21]:
avaliacoes = pd.merge(filmesv3, notas_filme, how = 'inner', on = 'movieId')

In [22]:
avaliacoes

,movieId,title,0,1,rating
0,1,Toy Story (1995),Adventure,Animation,3.921240
1,2,Jumanji (1995),Adventure,Children,3.211977
2,3,Grumpier Old Men (1995),Comedy,Romance,3.151040
3,4,Waiting to Exhale (1995),Comedy,Drama,2.861393
4,5,Father of the Bride Part II (1995),Comedy,None,3.064592
...,...,...,...,...,...
26497,131252,Forklift Driver Klaus: The First Day on the Jo...,Comedy,Horror,4.000000
26498,131254,Kein Bund für's Leben (2007),Comedy,None,4.000000
26499,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,None,4.000000
26500,131258,The Pirates (2014),Adventure,None,2.500000
26501,131262,Innocence (2014),Adventure,Fantasy,4.000000

In [23]:
avaliacoes = avaliacoes.rename(columns = {0:'Genero1', 1:'Genero2'})

In [24]:
avaliacoes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26502 entries, 0 to 26501
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  26502 non-null  int64
 1   title    26502 non-null  object
 2   Genero1  26502 non-null  object
 3   Genero2  16169 non-null  object
 4   rating   26502 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.2+ MB

In [25]:
from sklearn.preprocessing import OneHotEncoder

In [26]:
ohe = OneHotEncoder(dtype=int)
colunas_ohe = ohe.fit_transform(avaliacoes[['Genero1']]).toarray()
avaliacoes2 = avaliacoes.drop('Genero1', axis=1)

dados_musicas_dummies = pd.concat([avaliacoes2, pd.DataFrame(colunas_ohe, columns=ohe.get_feature_names_out(['Genero1']))], axis=1)
dados_musicas_dummies

,movieId,title,Genero2,rating,Genero1_Action,Genero1_Adventure,Genero1_Animation,Genero1_Children,Genero1_Comedy,Genero1_Crime,...,Genero1_Film-Noir,Genero1_Horror,Genero1_IMAX,Genero1_Musical,Genero1_Mystery,Genero1_Romance,Genero1_Sci-Fi,Genero1_Thriller,Genero1_War,Genero1_Western
0,1,Toy Story (1995),Animation,3.921240,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Children,3.211977,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Romance,3.151040,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),Drama,2.861393,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),None,3.064592,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26497,131252,Forklift Driver Klaus: The First Day on the Jo...,Horror,4.000000,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26498,131254,Kein Bund für's Leben (2007),None,4.000000,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26499,131256,"Feuer, Eis & Dosenbier (2002)",None,4.000000,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26500,131258,The Pirates (2014),None,2.500000,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26501,131262,Innocence (2014),Fantasy,4.000000,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
dados_musicas_dummies

,movieId,title,Genero2,rating,Genero1_Action,Genero1_Adventure,Genero1_Animation,Genero1_Children,Genero1_Comedy,Genero1_Crime,...,Genero1_Film-Noir,Genero1_Horror,Genero1_IMAX,Genero1_Musical,Genero1_Mystery,Genero1_Romance,Genero1_Sci-Fi,Genero1_Thriller,Genero1_War,Genero1_Western
0,1,Toy Story (1995),Animation,3.921240,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Children,3.211977,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Romance,3.151040,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),Drama,2.861393,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),None,3.064592,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26497,131252,Forklift Driver Klaus: The First Day on the Jo...,Horror,4.000000,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26498,131254,Kein Bund für's Leben (2007),None,4.000000,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26499,131256,"Feuer, Eis & Dosenbier (2002)",None,4.000000,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26500,131258,The Pirates (2014),None,2.500000,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26501,131262,Innocence (2014),Fantasy,4.000000,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
ohe = OneHotEncoder(dtype=int)
colunas_ohe = ohe.fit_transform(dados_musicas_dummies[['Genero2']]).toarray()
avaliacoes3 = dados_musicas_dummies.drop('Genero2', axis=1)

dados_musicas_dummies2 = pd.concat([avaliacoes3, pd.DataFrame(colunas_ohe, columns=ohe.get_feature_names_out(['Genero2']))], axis=1)
dados_musicas_dummies2

,movieId,title,rating,Genero1_Action,Genero1_Adventure,Genero1_Animation,Genero1_Children,Genero1_Comedy,Genero1_Crime,Genero1_Documentary,...,Genero2_Horror,Genero2_IMAX,Genero2_Musical,Genero2_Mystery,Genero2_Romance,Genero2_Sci-Fi,Genero2_Thriller,Genero2_War,Genero2_Western,Genero2_None
0,1,Toy Story (1995),3.921240,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),3.211977,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),3.151040,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,4,Waiting to Exhale (1995),2.861393,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),3.064592,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26497,131252,Forklift Driver Klaus: The First Day on the Jo...,4.000000,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
26498,131254,Kein Bund für's Leben (2007),4.000000,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
26499,131256,"Feuer, Eis & Dosenbier (2002)",4.000000,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
26500,131258,The Pirates (2014),2.500000,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26501,131262,Innocence (2014),4.000000,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import numpy as np
SEED = 1224
np.random.seed(1224)


pca_pipeline = Pipeline([('scaler', StandardScaler()), ('PCA', PCA(n_components=0.7, random_state=SEED))])


music_embedding_pca = pca_pipeline.fit_transform(dados_musicas_dummies2.drop(['movieId','title'],axis=1))
projection_m = pd.DataFrame(data=music_embedding_pca)

In [30]:
projection_m

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,1.741018,1.103831,4.130638,-0.309098,0.718138,1.704927,1.898000,7.195458,0.672241,-0.674254,...,0.001397,0.428745,0.071513,-0.236698,-0.328412,-0.695921,-0.166524,0.095502,0.022228,-0.041163
1,1.782888,1.385578,5.871309,0.791150,-0.316841,-0.811115,-2.311846,1.224710,0.097085,0.004667,...,-0.156499,0.233865,0.229740,0.310081,0.009609,-0.551058,-0.429407,-0.003095,-0.051388,0.037295
2,0.163334,-1.249594,-0.221716,0.140443,1.427082,-2.021946,0.448412,0.180859,-0.898690,-0.357311,...,-1.331824,1.008877,0.174370,0.188747,-0.077064,0.066551,0.052007,-0.046184,-0.056304,0.045280
3,1.319126,-2.264016,-0.267559,0.106510,-0.380649,-0.549012,0.158294,-0.013676,-0.278318,-0.091501,...,-0.118830,-0.212768,-0.152427,0.417821,-0.149529,-0.084980,-0.283835,-0.078759,-0.108328,0.090680
4,-0.606278,-0.919096,-0.180305,-0.421148,-0.945846,-1.104907,0.296711,0.146077,-0.194199,-0.129889,...,0.168225,-0.001775,-0.088219,-0.042211,-0.089101,0.017937,0.021909,0.012752,-0.009867,0.008730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26497,0.490395,-1.242737,-0.362615,0.010136,0.644833,-1.638602,0.144703,-0.147868,3.070161,0.218067,...,0.394638,-0.095242,0.267668,-0.143105,-0.096490,0.449046,-0.098915,-0.055602,-0.093788,0.088521
26498,-0.794041,-1.157767,-0.012250,-0.770536,-0.694302,-0.728894,0.121947,0.183191,-0.413220,-0.153584,...,0.236506,0.087612,0.006899,-0.225050,-0.157440,0.164215,-0.036009,0.033207,-0.015797,0.007733
26499,-0.794041,-1.157767,-0.012250,-0.770536,-0.694302,-0.728894,0.121947,0.183191,-0.413220,-0.153584,...,0.236506,0.087612,0.006899,-0.225050,-0.157440,0.164215,-0.036009,0.033207,-0.015797,0.007733
26500,0.059478,0.715986,1.934683,0.037499,-0.754583,0.190867,0.930962,2.122686,0.437514,-0.121416,...,-0.024949,-0.042260,-0.102833,0.060059,0.035439,-0.106036,0.018910,0.009164,0.005444,0.002420
26501,0.978404,0.349340,2.772762,-0.120511,1.162702,0.224721,1.090511,2.169301,-0.352988,-0.438048,...,1.757616,-1.599352,-3.913872,0.482472,1.668033,3.557316,-1.089610,0.944007,1.011062,-0.883145

In [31]:
pca_pipeline[1].n_components_

22

In [32]:
from sklearn.cluster import KMeans

SEED = 12
kmeans_pca_pipeline = KMeans(n_clusters=5, verbose=False, random_state=SEED)

kmeans_pca_pipeline.fit(projection_m)

avaliacoes['cluster_pca'] = kmeans_pca_pipeline.predict(projection_m)
projection_m['cluster_pca'] = kmeans_pca_pipeline.predict(projection_m)

In [33]:
projection_m['title'] = avaliacoes['title']

In [34]:
projection_m

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,cluster_pca,title
0,1.741018,1.103831,4.130638,-0.309098,0.718138,1.704927,1.898000,7.195458,0.672241,-0.674254,...,0.071513,-0.236698,-0.328412,-0.695921,-0.166524,0.095502,0.022228,-0.041163,4,Toy Story (1995)
1,1.782888,1.385578,5.871309,0.791150,-0.316841,-0.811115,-2.311846,1.224710,0.097085,0.004667,...,0.229740,0.310081,0.009609,-0.551058,-0.429407,-0.003095,-0.051388,0.037295,4,Jumanji (1995)
2,0.163334,-1.249594,-0.221716,0.140443,1.427082,-2.021946,0.448412,0.180859,-0.898690,-0.357311,...,0.174370,0.188747,-0.077064,0.066551,0.052007,-0.046184,-0.056304,0.045280,3,Grumpier Old Men (1995)
3,1.319126,-2.264016,-0.267559,0.106510,-0.380649,-0.549012,0.158294,-0.013676,-0.278318,-0.091501,...,-0.152427,0.417821,-0.149529,-0.084980,-0.283835,-0.078759,-0.108328,0.090680,1,Waiting to Exhale (1995)
4,-0.606278,-0.919096,-0.180305,-0.421148,-0.945846,-1.104907,0.296711,0.146077,-0.194199,-0.129889,...,-0.088219,-0.042211,-0.089101,0.017937,0.021909,0.012752,-0.009867,0.008730,3,Father of the Bride Part II (1995)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26497,0.490395,-1.242737,-0.362615,0.010136,0.644833,-1.638602,0.144703,-0.147868,3.070161,0.218067,...,0.267668,-0.143105,-0.096490,0.449046,-0.098915,-0.055602,-0.093788,0.088521,3,Forklift Driver Klaus: The First Day on the Jo...
26498,-0.794041,-1.157767,-0.012250,-0.770536,-0.694302,-0.728894,0.121947,0.183191,-0.413220,-0.153584,...,0.006899,-0.225050,-0.157440,0.164215,-0.036009,0.033207,-0.015797,0.007733,3,Kein Bund für's Leben (2007)
26499,-0.794041,-1.157767,-0.012250,-0.770536,-0.694302,-0.728894,0.121947,0.183191,-0.413220,-0.153584,...,0.006899,-0.225050,-0.157440,0.164215,-0.036009,0.033207,-0.015797,0.007733,3,"Feuer, Eis & Dosenbier (2002)"
26500,0.059478,0.715986,1.934683,0.037499,-0.754583,0.190867,0.930962,2.122686,0.437514,-0.121416,...,-0.102833,0.060059,0.035439,-0.106036,0.018910,0.009164,0.005444,0.002420,3,The Pirates (2014)
26501,0.978404,0.349340,2.772762,-0.120511,1.162702,0.224721,1.090511,2.169301,-0.352988,-0.438048,...,-3.913872,0.482472,1.668033,3.557316,-1.089610,0.944007,1.011062,-0.883145,0,Innocence (2014)

In [35]:
import plotly.express as px

In [36]:
pca_pipeline[1].explained_variance_ratio_.sum()

0.709151353050108

In [37]:
pca_pipeline[1].explained_variance_.sum()

27.657946386280695

In [38]:
nome_filme = 'The Pirates (2014)'

In [39]:
from pandas.core.dtypes.cast import maybe_upcast
from sklearn.metrics.pairwise import euclidean_distances

def recomendar(filme):
    cluster = list(projection_m[projection_m['title']== filme]['cluster_pca'])[0]
    filmes_recomendados = projection_m[projection_m['cluster_pca']== cluster][[0, 1, 'title']]
    x_filme = list(projection_m[projection_m['title']== filme][0])[0]
    y_filme = list(projection_m[projection_m['title']== filme][1])[0]

    #distâncias euclidianas
    distancias = euclidean_distances(filmes_recomendados[[0, 1]], [[x_filme, y_filme]])
    filmes_recomendados['movieId'] = avaliacoes['movieId']
    filmes_recomendados['distancias']= distancias
    recomendada = filmes_recomendados.sort_values('distancias').head(10)
    recomedacoes = recomendada.drop(columns = [0,1,'distancias'])
    
    return recomedacoes

In [40]:
recomendar('Innocence (2014)')

                                                   title  movieId
26501                                   Innocence (2014)   131262
5853       Lord of the Rings: The Two Towers, The (2002)     5952
14224                   3 Worlds of Gulliver, The (1960)    71404
4897   Lord of the Rings: The Fellowship of the Ring,...     4993
13920      Harry Potter and the Half-Blood Prince (2009)    69844
19969          Hobbit: An Unexpected Journey, The (2012)    98809
23324                                   Neverland (2011)   111783
7769     Harry Potter and the Prisoner of Azkaban (2004)     8368
21948            Day The Earth Froze, The (Sampo) (1959)   106300
22001        Hobbit: The Desolation of Smaug, The (2013)   106489

In [41]:
avaliacoes.sample(20)

,movieId,title,Genero1,Genero2,rating,cluster_pca
23162,110975,Donovan's Echo (2011),Drama,Sci-Fi,2.500000,3
22111,106922,New Tale of Zatoichi (Shin Zatôichi monogatari...,Action,Drama,3.583333,1
17324,87547,Hand Gun (1994),Action,Crime,1.500000,2
14645,73286,Diamond Dogs (2007),Action,Adventure,2.500000,2
25194,121113,Shriek If You Know What I Did Last Friday the ...,Comedy,Horror,2.250000,3
24290,116104,Sophia de Mello Breyner Andresen (1969),Documentary,None,3.000000,0
23620,113064,"Trip to Italy, The (2014)",Comedy,Drama,3.511364,1
10663,41812,Knute Rockne All American (1940),Drama,None,3.071429,0
10164,33815,"Perfect Man, The (2005)",Comedy,Drama,2.905759,1
12629,59376,Hero Wanted (2008),Action,Crime,2.695652,2
21960,106346,W.C. Fields and Me (1976),Drama,None,2.750000,0
11805,52660,Night of the Ghouls (1959),Horror,None,1.666667,3
2055,2139,"Secret of NIMH, The (1982)",Adventure,Animation,3.729558,4
2374,2459,"Texas Chainsaw Massacre, The (1974)",Horror,None,3.211335,3
3476,3567,Bossa Nova (2000),Comedy,Drama,3.452778,1
25285,121733,Newcastle (2008),Drama,None,3.000000,0
24531,117418,Victor and the Secret of Crocodile Mansion (2012),Adventure,Children,5.000000,4
7394,7618,Chaplin (1992),Drama,None,3.598050,0
10109,33493,Star Wars: Episode III - Revenge of the Sith (...,Action,Adventure,3.465821,2
12557,58889,"Business of Being Born, The (2008)",Documentary,None,3.500000,0

In [42]:
recomendar('Return of Dracula, The (1958)')

                                                   title  movieId
24451                              The Oblong Box (1969)   116909
8690                   Taste the Blood of Dracula (1970)    26214
24928                       Don't Go In the Woods (1981)   119312
24738                                  Dead Souls (2012)   118380
16297                             Alabama's Ghost (1973)    82368
24602                           Diary of a Madman (1963)   117598
19533  Living Skeleton, The (Kyûketsu dokuro-sen) (1968)    97035
22248     Demons 2 (Dèmoni 2... l'incubo ritorna) (1986)   107426
19651                              Greystone Park (2012)    97650
12970                                    Flu Bird (2008)    61638

In [65]:
from ipywidgets import widgets, HBox, VBox
from IPython.display import display

filme = widgets.Text(description="Filme")
ano = widgets.Text(description="Ano")

botao = widgets.Button(description="Recomendar")

left = VBox([filme])
right = VBox([ano])
inputs = HBox([left, right])


def simulador(sender):
    filme_value = str(filme.value) if filme.value else 0
    ano_value = str(ano.value) if ano.value else 0

    # Realizando a previsão usando o modelo (defina a variável "model" antes desta etapa)
    entrada = str(filme_value + ' ' + '(' + ano_value + ')')
    print(entrada)
    #print(recomendar(entrada))
    print(recomendar(entrada))
    
# Atribuindo a função "simulador" ao evento click do botão
botao.on_click(simulador)

In [66]:
display(inputs, botao)

HBox(children=(VBox(children=(Text(value='', description='Filme'),)), VBox(children=(Text(value='', descriptio…

Button(description='Recomendar', style=ButtonStyle())

Bossa Nova (2000)
                             title  movieId
3476             Bossa Nova (2000)     3567
9588        In Good Company (2004)    30822
18515                 Toast (2010)    92437
14230  World's Greatest Dad (2009)    71429
11848             Hairspray (2007)    52975
20067               Quartet (2012)    99220
7789          Big Wednesday (1978)     8391
1642   Deconstructing Harry (1997)     1701
9400           Herr Lehmann (2003)    27636
10653          Matador, The (2005)    41716